$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

$colour_darkest:  #2A363B;
$colour_darker:   #81A8B8;
$colour_dark:     #A4BCC2;
$colour_middle:   #C2CBCE;
$colour_light:    #DBE6EC;
$colour_background: #E8F3F8;



$colour_darkest:  #424242; // 
$colour_darker:   #424242; // 
$colour_dark:     #424242; // normal text
$colour_middle:   #3299BB; // normal
$colour_light:    #BCBCBC; // invert
$colour_kick:     #FF9900; // 
$colour_lightest: #E9E9E9; // 
$colour_background: $colour_lightest; // lightest


$stage_list_height: 1.8em;
