@import "style/css/uikit.css";
@import "features/shared/shared.scss";

html {
  margin: 0;
}

body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  background-color: $colour_background;
  color:            $colour_dark;
  font-size: 10pt;
}


li {
  list-style-type: none;
}

.Menu {
  padding: 1em;
  a {
    padding: 1em 0 1em 1em;
    color: $colour_darkest;
    background-color: $colour_lightest;
  }
  a:after {
    content: "❯";
    padding: 0 2em;
    font-weight: bold;
  }
  a:hover {
    background-color: violet; //$colour_kick;
    text-decoration: none;
  }
  // a.selected:before {
  //   content: "❮";
  //   padding: 0 0.25em;
  //   font-weight: bold;
  // }
  // a.selected:after {
  //   content: "❯";
  //   padding: 0 0.25em;
  //   font-weight: bold;
  // }
}

svg {
  .peoples {
    filter: url('#fancy-goo');
    .couple {
      circle {
        fill: #333333;
        //stroke: grey;
        //stroke-width: 1px;
      }
      //ellipse {
      //  filter: none;
      //  fill: none;
      //  stroke: grey;
      //  stroke-width: 1px;
      //}
    }
    .single {
      fill: #333333;
    }
  }
  .feelings{
    line {
      stroke: red;
      stroke-width: 3px;
      stroke-dasharray: 5, 5;
    }

    .lightning {
      fill: #ffff44;
      position: relative;
      top: 5px;
      width: 50px;
      animation: flip 1s ease infinite,
    }

    .heart {
      fill: red;
      position: relative;
      top: 5px;
      width: 50px;
      animation: pulse 1s ease infinite,
    }

    @keyframes pulse {
      0% { transform: scale(1); }
      50% { transform: scale(1.3); }
      100% { transform: scale(1); }
    }

    @keyframes flip {
      0% { transform: scale(1); }
      50% { transform: scale(-1, 1); }
      100% { transform: scale(1); }
    }
  }
  .tableCloth{
    fill: #cccccc;
    stroke: grey;
    stroke-width: 2px;
  };
  .bigNumber {
    fill: #888888;
  }
  .bullet {
    circle{
      fill: #dddddd;
      stroke: grey;
      stroke-width: 2px;
    }
    text{
      fill: black;
    }
    .littleHeart {
      fill: pink;
      position: relative;
      top: 5px;
      width: 50px;
      animation: spin 1s linear infinite,
    }

    @keyframes spin {
      0% { transform: rotate(0); }
      100% { transform: rotate(360deg); }
    }
  }


}

ul.stuff {
  width: 350px;
  position: fixed;
  top:50px;
  right:0;
  margin: 0;
  padding: 0;
  li{
    float: none;
  }
}

.coupleSelected {
  position: fixed;
  top:10px;
  padding: 20px;
  background: lightcoral;
  text-align: center;
  width: 100%;
}

.arrangementWrapper {
  width: 800px;
}

.arrangementHolder {
  margin: 0;
  padding: 0;
}

.arrangementHolder li.arrangementItem {
  //float: left;
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 30px;
}

.arrangementHolder li.arrangementItem div {
  width: 200px;
}
