@import "../shared/shared.scss";


@mixin dist($nb-items, $circle-size, $item-size) {
  // source : http://hugogiraudel.com/2013/04/02/items-on-circle/
  $half-item: ($item-size / 2);
  $half-parent: ($circle-size / 2);

  position: relative;
  width:  $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  box-sizing: content-box;

  > * {
    display: block;
    position: absolute;
    top:  50%;
    left: 50%;
  }

  $rot: 0;
  $rot_shift: -40deg;
  $angle: (360 / ($nb-items) ) ;

  @for $i from 1 through $nb-items {

    > :nth-of-type(#{$i}) {
      width:  $item-size* 1;
      height: $item-size* 1;
      margin: -$item-size* 0.001;
      border-radius : $item-size* 1 ;
      font-size: 30 * 0.5;

      $distance: $half-parent * 1 ;

      $real_rot: $rot * ( $i) ;
      transform: rotate($rot * 1deg) translate( $distance ) rotate($rot * -1deg) translateX($item-size* (2) / 9);
    }

    $rot: ($rot + $angle);
  }
}


.cirle-container {
  // a {
  //   font-family: arkhip;
  //   color: white;
  //   text-decoration: none;
  // }
  @include dist(
    $nb-items: 6,
    $circle-size: 14vw,
    $item-size: 4vw
  );
  li {
    background-color: red; // $backgroundColour;
    text-align: center;
    div {
      height: 100%;
      transform: translateY(50%) translateY(-0.6em);
    }
    div.innerContent {
      // position: relative;
      // top: 50%;
      // transform: translateY(-50%);
    }
  }
  margin: 10em auto 0;
  // border: solid 5px tomato;
}

















// .list-box {
//   border: 1px solid $colour_dark;

//   .title {
//     background-color: green; // $colour_middle;
//     color: white;
//   }

//   ul {
//     li:nth-child(odd) {
//       background-color: $colour_light;
//     }
//     li:nth-child(even) {
//       background-color: $colour_lightest;
//     }
//   }
// }













